# Port to listen on
PORT=3000

# Letterbox width in characters
LETTERBOX_WIDTH=80

# Letterbox height in characters
LETTERBOX_HEIGHT=24

# State update interval in ms
LETTERBOX_UPDATE_INTERVAL_MS=33

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_POOL_SIZE=8
DATABASE_NAME=letterbox
DATABASE_ATTEMPT_COUNT=5
DATABASE_ATTEMPT_REST=5000

MQ_ADDRESS=amqp://localhost:33080
MQ_ATTEMPT_COUNT=5
MQ_ATTEMPT_REST=5000